@charset "UTF-8";

@import "base/normalize";

/*
#styleguide
テストコメント

@todo

 */
.test {
  display: flex;
  margin: 20px;
  padding: 10px;
  color: #f33;
  .test-child {
    font-weight: bold;
    margin: 0;
  }
}
